@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --color-base: #ffffff;
  --color-text-muted: #6c757d;
  --color-button-yellow: #ecd078;
  --color-button-brown: #ba895d;
  --color-button-hero: #eb9c4d;
  --color-button-green: #59ba41;
  --color-badge: rgba(36, 105, 92, 0.1);
  --color-green-light: rgba(36, 105, 92, 0.1);
  --color-fill: #198754;
  --color-green-dark: #1b4c43;

  /* rest of the colors */
  --color-black: #222;
  --color-red-light: #f8d7da;
  --color-red-dark: #842029;

  /* fonts  */
  --headingFont: "Poppins", Sans-Serif;
  --bodyFont: "Poppins", Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--color-base);
  --textColor: var(--color-text-muted);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  font-weight: 400;
  line-height: 1.75;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0;
  font-family: "Poppins", sans-serif;
}

h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 12px;
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
